body, button{
    background-color: #191919 !important;
    overflow-y: hidden;
    user-select: none;
}
h1, p, button{
    font-family: "Fira Sans", sans-serif !important;
    text-align: center;
    vertical-align: middle;
}
div{
    height: 100vh;
    margin-top: calc(100vh / 2 - 100px);
    text-align: center;
}
h1{
    color: #191919;
    text-shadow: -1px 0 var(--beallitott_szin), 0 1px var(--beallitott_szin), 1px 0 var(--beallitott_szin), 0 -1px var(--beallitott_szin);
    font-size: 120px !important;
}
button{
    border: 1px solid var(--beallitott_szin) !important;
}