body, button{
    background-color: #191919 !important;
    overflow-y: hidden;
    user-select: none;
}
h1, p, button{
    font-family: "Fira Sans", sans-serif !important;
    text-align: center;
    vertical-align: middle;
}
div{
    height: 100vh;
    margin-top: calc(100vh / 2 - 100px);
    text-align: center;
}
h1{
    color: #191919;
    text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
    font-size: 120px;
}
