body{
    background-color: #191919;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6, p, a, th, td, li, select, option, button{
    font-family: "Fira Sans", sans-serif !important;
    color: white;
}
.alert p{
    color: var(--bs-warning-text-emphasis);
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
nav{
    background-color: #464646;
    border-bottom: 1px solid red;
}
.fa-language, .fa-bars{
    color: white;
}
#gh{
    font-size: 14px;
    text-align: center;
    margin: 0;
}
#main_a{
    text-decoration: none;
}
.navbar {
    position: relative;
    overflow: hidden;
    padding: 30px !important;
}
footer{
    background-color: #464646;
    bottom: 0;
    border-top: 1px solid red;
    padding: 10px;
}
main {
    flex: 1;
}
::selection{
    background-color: red;
    color: black;
}
:-moz-selection{
    background-color: red;
    color: black;
}
#rc{
    border-left: 1px solid red;
}
ul{
    list-style-type: none;
    padding: 0;
}
li{
    padding: 10px;
}
footer h6{
    margin: 0;
}
#settings{
    z-index: 9999999999;
    width: 800px;
    position: absolute;
    height: 600px;
    background-color: #464646;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    display: none;
    border: 1px solid red;
}
#settings h3{
    margin-top: 10px;
}
#settings p{
    margin-left: 30px;
}
#settings .btn-danger{
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    left: 0;
    width: 80px;
    margin-left: 46%;
}
#main_a, footer h6 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
table{
    table-layout: fixed;
}
td{
    vertical-align: middle;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #464646; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #C7C7C7; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #8B8B8B; 
}
:root{
    --beallitott_szin: red;
}
@keyframes link_hover {
    from {color: white;}
    to {color: var(--beallitott_szin);}
}
@keyframes link_unhover {
    from {color: var(--beallitott_szin);}
    to {color: white;}
}
a:hover, .fa-language:hover, #n_main:hover, .fa-bars:hover{
    animation: link_hover 0.5s forwards;
}
a:not(:hover), .fa-language:not(:hover), #n_main:not(:hover), .fa-bars:not(:hover){
    animation: link_unhover 0.5s forwards;
}
#menupont{
    display: flex;
    margin-right: auto;
    flex-wrap: wrap;
}
#menupont button{
    margin-top: -7px;
    height: 100%;
    width: 108px;
    margin-left: 10px;
}
#menupont input{
    border-radius: 8px;
    width: 108px;
    height: 40px;
    margin-top: -7px;
    margin-left: 139px;
    border: none;
    padding: 0;
}
.desc{
    font-size: small;
}
@media only screen and (max-width: 800px) {
    #settings{
        width: calc(100vw - 20px) !important;
        height: 600px;
    }
    #menupont{
        display: block;
    }
    #menupont input{
        margin: 0;
    }
    #menupont button{
        margin-left: 0;
    }
    #menupont p{
        margin: 0;
        padding: 10px;
    }
    #settings .btn-danger{
        position: relative;
        margin: 0;
        width: 108px;
        margin-top: 80px;
    }
}
.alert{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 40px; 
    border-radius: 10px;
    width: 80vw;
}
#footer_nav{
    height: 50px;
    padding-left: 48% !important;
    padding-right: 48% !important;
}
#menupontok{
    background-color: #464646;
    left: 0;
    width: 100%;
    top: 96px;
    height: 100px;
    display: none;
    z-index: 1000;
    position: absolute;
}
#menupontok a{
    margin-top: -8px;
}
main h1{
    margin-top: 15vh;
}
#menupontok .fa-solid{
    font-size: 26px;
}
@media only screen and (max-width: 400px) {
    #menupontok p{
        display: none;
    }
    #menupontok .fa-solid{
        margin-top: 10px;
    }
}
@media only screen and (max-width: 620px) {
    #footer_nav{
        padding-left: 40% !important;
        padding-right: 40% !important;
    }
}
br{
    user-select: none;
}
