#jelmagyarazat li{
    padding: 0;
}
#nana{
    font-family: "CCWallScrawler Bold Italic";
    color: #e00988;
}
#aot{
    font-family: 'Ditty', sans-serif;
    font-size: larger;
    background: linear-gradient(to bottom, #eaeaea, #a2a0a3);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}
@font-face {
    font-family: "Death Note";
    src: url('../media/death_font_ver1_0.ttf');
}
#deathnote{
    font-family: "Death Note";
}
.zero{
    font-family: 'Coinage Caps Kruger Gray', sans-serif;
    vertical-align: auto;
}
#ro, #kettospont{
    vertical-align: -2px;
}
#re{
    font-family: 'TT Ramillas Trl', sans-serif;
    color: #6d699f;
    vertical-align: -2px;
    font-weight: 500;
}
#rezero_title{
    font-family: "Reforma Grotesk W01 Demi";
}
#rbr{
    display: block;
    content: "";
    margin-top: -10px;
}
@font-face {
    font-family: "K-On";
    src: url('../media/keifont.ttf');
}
#k_on{
    font-family: "K-On";
    font-size: large;
    color: #e4000b;
    -webkit-text-stroke: 0.5px #fcfbbd;
}
#jpn{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
}
@font-face {
    font-family: "Bocchi1";
    src: url('../media/Thugolatz-MVyxv.ttf');
}
#bocchi{
    font-family: "Bocchi1";
    font-size: large;
    color: #fdb816;
}
.fa-subtitles{
    vertical-align: -2px;
}
@media only screen and (max-width: 1508px) {
    .alert {
        display: block;
    }
}
table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    min-width: 1400px;
}
#tdiv{
    overflow-x: auto;
}
#evangelion{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    display: inline-block;
    transform: scaleX(0.79);
}
td p{
    color: black;
}
@font-face {
    font-family: 'Lycoris Recoil';
    src: url(../media/Neuropol\ X\ Rg.otf);
}
#lycoris{
    font-family: 'Lycoris Recoil';
    display: inline-block;
    transform: scaleX(0.79);
}
#ly1{
    color: #f25b62;
}
#ly2{
    color: #0db9ad;
}
#llogo{
    height: 15px;
    width: 20px;
    margin-bottom: 2px;
}
.fa-closed-captioning{
    font-size: 130%;
    position: relative;
    top: 2px;
}
#manga_ent{
    color: black; 
}
main h2{
    margin-top: 10vh;
}
@font-face {
    font-family: 'Rock is a Ladys Modesty 1';
    src: url(../media/Wedding\ Text\ Std\ Regular.otf);
}
@font-face {
    font-family: 'Rock is a Ladys Modesty 2';
    src: url(../media/Giambattista\ Two\ Script.ttf);
}
#ladymoda{
    font-family: 'Rock is a Ladys Modesty 1';
    font-size: xx-large;
    color: #ffd908;
}
.ladymodb{
    font-family: 'Rock is a Ladys Modesty 2';
    color: #fdfdfd;
    display: block;
    margin-top: -8px;
}
#ladymodc{
    color: #ffd908;
    font-size: large;
}
.circle {
    position: relative;
    width: 50px;
    height: 50px;
    z-index: -1000000;
}
.circle::before {
    content: "";
    position: absolute;
    top: 36%;
    left: 50%;
    width: 100px;
    height: 100px;
    background: black;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: -1000000000;
}