#jelmagyarazat li{
    padding: 0;
}
#nana{
    font-family: "CCWallScrawler Bold Italic";
    color: #e00988;
    font-size: large;
}
#aot{
    font-family: 'Ditty', sans-serif;
    font-size: larger;
    background: linear-gradient(to bottom, #eaeaea, #a2a0a3);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: larger;
}
@font-face {
    font-family: "Death Note";
    src: url('../media/death_font_ver1_0.ttf');
}
#deathnote{
    font-family: "Death Note";
    font-size: large;
}
.zero{
    font-family: 'Coinage Caps Kruger Gray', sans-serif;
    vertical-align: auto;
    font-size: x-large;
}
#ro, #kettospont{
    vertical-align: -2px;
}
#re{
    font-family: 'TT Ramillas Trl', sans-serif;
    color: #6d699f;
    vertical-align: -2px;
    font-weight: 500;
    font-size: x-large;
}
#rezero_title{
    font-family: "Reforma Grotesk W01 Demi";
    display: block;
    font-size: small;
    margin-top: -10px;
    margin-left: 60px;
}
@font-face {
    font-family: "K-On";
    src: url('../media/keifont.ttf');
}
#k_on{
    font-family: "K-On";
    font-size: larger;
    color: #e4000b;
    -webkit-text-stroke: 0.5px #fcfbbd;
}
#jpn{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
}
#chmn{
    width: 50%;
}
@font-face {
    font-family: "Bocchi1";
    src: url('../media/Thugolatz-MVyxv.ttf');
}
#bocchi{
    font-family: "Bocchi1";
    font-size: larger;
    color: #fdb816;
}
.fa-subtitles{
    vertical-align: -2px;
}
@media only screen and (max-width: 1508px) {
    .alert {
        display: block;
    }
}
table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    min-width: 1400px;
    user-select: none;
}
#tdiv{
    overflow-x: auto;
}
#evangelion{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    display: inline-block;
    transform: scaleX(0.79);
}
#eva1{
    display: block;
    margin-right: 40px;
}
#eva2{
    font-size: x-large;
    display: block;
    margin-top: -40px;
}
td p{
    color: black;
}
@font-face {
    font-family: 'Lycoris Recoil';
    src: url(../media/Neuropol\ X\ Rg.otf);
}
#lycoris{
    font-family: 'Lycoris Recoil';
    display: inline-block;
    transform: scaleX(0.79);
}
#ly1{
    color: #f25b62;
}
#ly2{
    color: #0db9ad;
}
#llogo{
    height: 15px;
    width: 20px;
    margin-bottom: 2px;
}
.fa-closed-captioning{
    font-size: 130%;
    position: relative;
    top: 2px;
}
#manga_ent{
    color: black; 
}
main h2{
    margin-top: 10vh;
}
#rialm{
    width: 50%;
}
#tmra{
    font-family: "MotoyaExOkai W5";
}
#cmt{
    margin-right: 100px;
}
#cmm{
    display: block;
    margin-right: 100px;
    margin-top: -8px;
}
#cmt, #cmm{
    font-size: xx-small;
}
#cmr{
    display: block;
    margin-top: -30px;
    font-size: x-large;
    margin-left: 5px;
}
#cma{
    font-size: xx-small;
    display: block;
    margin-left: 100px;
    margin-top: -25px;
}
#cmmtd #jpn{
    display: block;
    margin-top: -20px;
}
#cmmtd #chmn{
    width: 60%;
}
#nhk{
    font-family: "BlackGrotesk W08 Italic";
    color: #e36f18;
}
#nhk2{
    font-size: 40px;
    display: block;
    margin-top: -20px;
    margin-bottom: 0;
}
#nhktd #jpn{
    display: block;
    margin-top: -10px;
}
#dinthef{
    font-family: "Europa Grotesk SH DemBol";
    font-size: large;
    word-spacing: 3px;
}
#dif1{
    color: #00a7e0;
}
#dif2{
    color: #ff3f1a;
}
@font-face {
    font-family: 'Trigun';
    src: url(../media/Trigun.ttf);
}
#trigun{
    font-family: "Trigun";
    font-size: x-large;
    color: #c7010b;
}