body{
    background-color: #191919;
    overflow-y: hidden;
}
h1{
    font-family: "Fira Sans", sans-serif;
    text-align: center;
    text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
    color: #191919;
    vertical-align: middle;
    font-size: 60px;
}
div{
    height: 100vh;
    margin-top: calc(100vh / 2 - 200px);
    text-align: center;
}
img{
    width: 15%;
    user-select: none;
}
@media only screen and (max-width: 800px) {
    img{
        width: 20%;
    }
    h1{
        font-size: 50px;
    }
}
@media only screen and (max-width: 500px) {
    img{
        width: 30%;
        font-size: 40px;
    }
}
@media only screen and (max-width: 300px) {
    img{
        width: 45%;
    }
    h1{
        font-size: 38px;
    }
}
audio{
    display: none;
}
.fa-play, .fa-pause{
    color: var(--beallitott_szin);    
    margin-top: 3px;
}
#apdiv{
    width: 80vw;
    height: 40px;
    border: 1px solid var(--beallitott_szin);
    margin: auto;
    display: none;
    border-radius: 10px;
}
#apdiv p{
    font-size: x-large;
}
.column {
  float: left;
  height: 40px;
}
.left {
  width: 90%;
}
.right {
  width: 10%;
}