main{
    font-weight: normal;
}
.prog {
    display: flex;
    gap: 10px;
    justify-content: center; 
    gap: 10px;
}
progress {
    border: 0;
    height: 30px;
    border-radius: 50px;
}
progress::-webkit-progress-bar {
    border: 0;
    height: 30px;
    border-radius: 50px;
}
progress::-webkit-progress-value {
    border: 0;
    height: 30px;
    border-radius: 50px;
}
progress::-moz-progress-bar {
    border: 0;
    height: 30px;
    border-radius: 50px;
}
.prog p{
    margin-top: 3px;
}
h5{
    text-decoration: underline;
    display: inline-block;
}
h5:hover{
    text-decoration-color: var(--beallitott_szin);
}
@font-face {
    font-family: 'csm-manga';
    src: url(../media/BigBadBold\ BB\ W00\ Regular.ttf);
}
ul li:before {   
    content: '! ';
    font-family: 'csm-manga';
    font-size: 30px;
}
li {
    font-size: 20px;
    width: fit-content;
    margin: 0 auto;
    padding: 0;
}
ul li:hover{
    color: var(--beallitott_szin);
}
/* MOST KÖZÉPEN, DE GECIS OVERFLOW VAN!!!!!!!!!!!!!!!!!!!!!!!!! */
#rbtns {
    display: flex;
    justify-content: center;   /* centers the whole group */
    align-items: center;
    gap: 10px;

    width: 60vw;
    margin: 0 auto;
}

.std_redir_btn {
    height: 64px;
    width: 44%;
    max-width: 60vw;

    border: 1px solid red;
    border-radius: 10px;
    background-color: #464646;

    display: flex;
    justify-content: center;
    align-items: center;
}
#mal{
    width: 100%;
}
#fful{
    list-style-type: disc;
}
#fful li::before{
    font-size: 20px;
    content: none;
}
#fful li{
    font-size: 16px;
}
@media only screen and (max-width: 600px) {
    #jlpt, h1, #genki, ul:last-child{
        margin-bottom: 50px;
    }
    .col{
        margin-right: 60px;
        margin-left: 60px;
    }
}