#yui_hatter{
    background-image: url(../media/yui-btn.png);
    background-position: center;
    background-size: 100%;
}
@keyframes btn_hover {
    from {background-color: white;}
    to {background-color: #c4c4c4;}
}
#nothing-div{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}
#index_for_mobile{
    display: none;
}
#legkisebb{
    display: none;
}
@media only screen and (max-width: 800px) {
    #index_for_mobile{
        display: block;
    }
    #rc{
        display: none;
    }
    #index_for_mobile #nothing-div{
        margin-top: 3rem;
    }
}
@media only screen and (max-width: 300px) {
    #legkisebb {
        display: block;
    }
}
#langalert{
    margin-top: -15px;
}