#yui_hatter{
    background-image: url(../media/yui-btn.png);
    background-position: center;
    background-size: 100%;
}
@keyframes btn_hover {
    from {background-color: white;}
    to {background-color: #c4c4c4;}
}
#project-div{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}
#legkisebb{
    display: none;
}
@media only screen and (max-width: 300px) {
    #legkisebb {
        display: block;
    }
}
#langalert{
    display: none;
    margin-top: -15px;
    height: 80px;
    z-index: 9999999;
}
#mh1{
    margin-top: 17vh;
}
ul li .btn{
    font-size: x-small;
}
#ket_div{
    display: flex;
}
@media (max-width: 768px) {
    #ket_div {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    main{
        overflow-x: hidden;
    }
}