.column{
    width: 48%;
    background-color: #464646;
    border-radius: 10px;
    margin-right: 10px;
}
#fcm{
    border-right: 1px solid red;
}
.column h4{
    margin-top: 10px;
}
#tantargyak{
    width: 80vw;
    margin: 0 auto;
    margin-top: 200px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); 
}
#fajlkezelo{
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-bottom: 85px;
    background-color: #464646;
    z-index: 2;
}
#fajlkezelo h3{
    text-align: center;
}
iframe{
    height: 200px;
    display: flex; 
    justify-content: flex-start;
}
section h4{
    background-color: #464646;
    width: 80vw;
    border-radius: 10px;
}
section i, #fajlkezelo h3 i{
    float: right;
    padding-right: 10px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown h4{
    position: sticky;
    top: 0;
    z-index: 1;
}
.dropdown-content {
    display: none;
    background-color: #464646;
    z-index: 1;
    padding-right: 25px;
    width: 80vw;
    border-radius: 10px;
}
button a{
    text-decoration: none;
    animation: none !important;
}
button{
    margin-right: 5px;
}
#figyelem{
    color: red;
    font-weight: bold;
}
.column p{
    margin-top: 20px;
}
main h1{
    margin-top: 10vh;
}
#bmc-iframe{
    min-height: 0 !important;
    height: 600px !important;
}
#bmc-wbtn{
    border: 1px solid var(--beallitott_szin) !important;
}
*{
    -ms-overflow-style: none;scrollbar-width: none;
}
html::webkit-scrollbar, body::webkit-scrollbar{display:none;}