.column{
    width: 44%;
    background-color: #464646;
    border-radius: 10px;
    margin-right: 10px;
}
@media only screen and (max-width: 350px) {
    #tantargyak div h4{
        display: none;
    }
    .column{
        width: 44%;
    }
}
#fcm{
    border-right: 1px solid red;
}
.column h4{
    margin-top: 10px;
}
#tantargyak {
    width: 80vw;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
#fajlkezelo{
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-bottom: 85px;
    background-color: #464646;
    z-index: 2;
}
#fajlkezelo h3{
    text-align: center;
}
iframe{
    height: 200px;
    display: flex; 
    justify-content: flex-start;
}
section h4{
    background-color: #464646;
    width: 80vw;
    border-radius: 10px;
}
section i, #fajlkezelo h3 i{
    float: right;
    padding-right: 10px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown h4{
    position: sticky;
    top: 0;
    z-index: 1;
}
.dropdown-content {
    display: none;
    background-color: #464646;
    z-index: 1;
    padding-right: 25px;
    width: 80vw;
    border-radius: 10px;
}
.dropdown-content {
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
}
button a{
    text-decoration: none;
    animation: none !important;
}
button{
    margin-right: 5px;
}
#figyelem{
    color: red;
    font-weight: bold;
}
.column p{
    margin-top: 20px;
}